<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>library_manage</display-name>
  <welcome-file-list>
   	<welcome-file>Admin/Login/login.jsp</welcome-file>
  </welcome-file-list>
  
   <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>library_manage.servlet.LoginAction</servlet-class>
    <init-param>
      <param-name>WRONG_MESSAGE</param-name>
      <param-value>用户不存在或密码错误</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login.jhtm</url-pattern>
  </servlet-mapping>
</web-app>